*,
*:before,
*:after {
     box-sizing: border-box;
}

h1, h2 ,h3 ,h4, h5, h6 {
     margin: 0;
     padding: 0;
}

.container {
     max-width: 1246px;
     margin: 0 auto;
     padding: 0 15px;
}

@media (max-width: 1248px) {
     .container {
          max-width: 970px;
     }
}
@media (max-width: 992px) {
     .container {
          max-width: 750px;
     }
}
@media (max-width: 767px) {
     .container {
          max-width: none;
     }
}

.header {
     font-family: Arial, Helvetica, sans-serif;
     padding-top: 40px;
     margin-bottom: 22px;
     &__flex {
          display: flex;
          align-items: center;
          justify-content: space-between;
     }

     &__text {
          max-width: 168px;
          font-size: 14px;
          line-height: 140%;
          text-decoration: none;
          color: #000;
          margin-left: 38px;
     }

     &__tel {
          font-weight: normal;
          font-size: 24px;
          line-height: 140%;
          color: #000;
          text-decoration: none;
     }

     &__link {
          font-weight: normal;
          font-size: 16px;
          text-decoration: none;
          color: #2F80ED;
          font-family: 'Roboto', sans-serif;
          padding: 10px 36px;
          border: 2px solid #2F80ED;
          border-radius: 10px;
          margin-left: 32px;
     }
}

.menu {
     &__left {
          display: flex;
          align-items: center;
     }
}

.banner {
     font-family: Arial, Helvetica, sans-serif;
     &__flex {
          position: relative;
     }

     &__content {
          max-width: 798px;
          height: 788px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
     }

     &__girl {
          position: absolute;
          top: 0;
          right: 0;
          z-index: -1;
     }

     &__title {
          margin-top: 50px;
          font-weight: bold;
          font-size: 56px;
          margin-bottom: 24px;
     }

     &__text {
          font-size: 28px;
          line-height: 140%;
          color: #4F4F4F;
     }

     &__scope {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 650px;
     }

     &__ > * {
          flex: 1 1;
     }

     &__suptext {
          max-width: 340px;
          font-size: 14px;
          line-height: 140%;
          color: #4F4F4F;
          margin-top: 56px;
          margin-bottom: 8px;
     }

     &__link {
          width: 380px;
     }
}

.link {
     display: inline-block;
     font-weight: bold;
     font-size: 16px;
     line-height: 140%;

     text-align: center;
     text-transform: uppercase;
     text-decoration: none;

     color: #FFFFFF;
     padding: 18px 64px;
     background-color: #2F80ED;
     border-radius: 7px;
     box-shadow: 0 15px 40px #2f81eda8;
}

.scope {
     &--item {
          display: flex;
          width: 310px;
          align-items: center;
     }
     &--item p {
          font-size: 16px;
          line-height: 140%;
          margin-left: 12px;
     }
}

.title {
     font-weight: bold;
     font-size: 48px;
     line-height: 55px;
     text-align: center;
}

.subtitle {
     font-size: 20px;
     line-height: 140%;
     text-align: center;
     color: #4F4F4F;
}

.project {
     font-family: Arial, Helvetica, sans-serif;
     &__title {
          margin-top: 88px;
          margin-bottom: 10px;
     }

     &__subtitle {
          margin-bottom: 40px;
     }

     &__flex {
          display: flex;
          justify-content: space-between;
     }

     &__list {
          width: 433px;
          list-style: none;
          padding: 0;
     }

     &__form {
          text-align: center;
     }
     &__note  {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 40px;
          margin-bottom: 96px;
     }

     &__img {
          max-width: 700px;
          // max-height: 506px;
          background-size: cover;
     }
     
}

.note {
     width: 100%;
     display: flex;
     background-color: yellow;
     border-radius: 15px;
     padding-top: 32px;
     padding-bottom: 32px;
     padding-left: 109px;
     padding-right: 152px;
     position: relative;
}

.note p {
     font-weight: normal;
     font-size: 20px;
     line-height: 140%;
     margin: 0;
     margin-left: 30px;
}

.note img {
     width: 40px;
     height: 40px;
}

.list {
     
     &--title {
          display: flex;
     }
     &--title h2 {
          font-size: 36px;
          line-height: 41px;
          text-align: center;
          color: #2F80ED;
          margin: 0 17px;
     }
     &--text {
          font-weight: normal;
          font-size: 20px;
          line-height: 140%;
          color: #000000;
          margin: 0;
          margin-bottom: 32px;
     }
}

.form_title {
     text-align: center;
}

.form {
     &--title {
          width: 440px;
          font-weight: normal;
          font-size: 20px;
          line-height: 140%;
          margin: 0 auto;
          margin-bottom: 46px;
     }

     &--list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: flex-end;
     }

     &--list label {
          font-weight: normal;
          font-size: 16px;
          line-height: 140%;
          display: block;
          text-align: start;
          margin-left: 7px;
          margin-bottom: 4px;
     }

     &--list input {
          width: 354px;
          height: 72px;
          padding-left: 24px;
          border-radius: 15px;
     }

     &--link {
          width: 384px;
     }

     &--conditions {
          width: 100%;
          display: flex;
          justify-content: flex-end;
     }

     &--conditions p {
          width: 303px;
          margin-right: 40px;
          font-size: 13px;
          line-height: 140%;
          text-align: center;
     }

     &--conditions a {
          color: #2F80ED;
          text-decoration: none;
     }
}

.condition {
     font-family: Arial, Helvetica, sans-serif;
     &__title {
          max-width: 700px;
          margin: 0 auto;
          margin-top: 120px;
          
     }

     &__subtitle {
          margin-bottom: 15px;
     }

     &__flex {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
     }

     &__item {
          width: 600px;
          min-height: 90px;
          border: 1px solid #E0E0E0;
          position: relative;
          margin-top: 25px;
          margin-left: 1;
          padding-top: 36px;
          text-align: center;
          padding-right: 14px;
          padding-left: 10px;
          margin-bottom: 17px;
     }

     &__circle {
          width: 72px;
          height: 36px;
          background-color: #fff;
          border-radius: 50px 50px  0 0 ;
          position: absolute;
          top: -25px;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%) 
     }

     &__circle2 {
          width: 72px;
          height: 36px;
          color: #fff;
          font-size: 26px;
          text-align: center;
          background-color: #fff;
          border-bottom: 1px solid #E0E0E0;
          border-right: 1px solid #E0E0E0;
          border-left: 1px solid #E0E0E0;
          border-radius: 0 0 50px 50px;
          position: absolute;
          top: 16px;
          left: 50%;
          margin-right: -50%;
          z-index: 1;
          transform: translate(-50%, -50%) 
     }

     &__circle2 h2 {
          font-size: 26px;
          position: absolute;
          top: -26px;
          left: 9px;
          color: #2F80ED;
          font-family: sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 48px;
     }

     &__note {
          margin-top: 40px;
          margin-bottom: 100px;
     }
}

.salary {
     font-family: Arial, Helvetica, sans-serif;

     &__title {
          max-width: 900px;
          margin: 0 auto;
     }

     &__subtitle {
          max-width: 670px;
          margin: 0 auto;
     }

     &__question {
          max-width: 800px;
          margin: 0 auto;
          text-align: center;
          border: 1px solid #2F80ED;
          border-radius: 15px;
          padding-top: 32px;
          padding-bottom: 24px;
          margin-top: 40px;
          margin-bottom: 96px;
     }

     &__flex {
          display: flex;
          flex-direction: column;
     }

}

.question {
     &-title {
          font-size: 24px;
          line-height: 28px;
          margin-bottom: 10px;
          font-weight: normal;
     }

     &-subtitle {
          font-size: 16px;
          line-height: 140%;
          text-align: center;
          color: #4F4F4F;
          margin-bottom: 33px;
          font-weight: normal;
     }

     &-form {
          text-align: start;
     }

     &-item {
          display: flex;
          align-items: center;
          width: 158px;
          margin: 0 auto;
          margin-bottom: 12px;
     }

     &-item:last-child {
          margin-bottom: 60px;
     }

     &-input {
          width: 32px;
          height: 32px;
          margin-right: 12px;
     }

     &-label {
          font-size: 16px;
          line-height: 140%;
     }

     &-btn {
          align-self: flex-end;
          padding: 10px 56px;
          border: none;
          box-shadow: 4px 12px 40px rgba(47, 128, 237, 0.35);
          border-radius: 8px;
          font-weight: normal;
          font-size: 16px;
          background-color: #2F80ED;
          text-transform: uppercase;
          color: #fff;
          margin-right: 100px;
          font-family: Arial, Helvetica, sans-serif;
     }
}


.step {
     font-family: Arial, Helvetica, sans-serif;
     &__title {
          max-width: 900px;
          margin: 0 auto;
     }

     &__subtitle {
          margin-bottom: 40px;
     }

     &__grid {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-column-gap: 32px;
          grid-row-gap: 32px;
          margin-bottom: 96px;
     }

     &__item {
          max-width: 280px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          padding: 24px 0 20px 24px;
          border: 1px solid #FFCF10;
          &-title {
               font-family: serif;
               position: absolute;
               top: -25px;
               left: 15px;
               font-weight: bold;
               font-size: 36px;
               color: #2F80ED;
               padding: 0 10px;
               background-color: #fff;
          }

          &-text {
               margin: 0;
               font-size: 16px;
               line-height: 140%;
          }

          &-img {
               margin-left: 5px;
               margin-right: 21px;
          }
     }
}

.confidence {
     font-family: Arial, Helvetica, sans-serif;
     &__title {
          max-width: 1000px;
          margin: 0 auto;
     }

     &__subtitle {
          margin-bottom: 40px;
     }

     &__top-text {
          font-size: 20px;
          line-height: 140%;
          color: #2F80ED;
          margin: 0;
          display: flex;
          align-items: center;
          margin-bottom: 20px;
     }

     &__top-text:before {
          content: " ";
          display: inline-block;
          width: 32px;
          height: 32px;
          background-image: url("../img/noun_timer.svg");
          background-position: center;
          margin-right: 16px;
     }

     &__flex {
          display: flex;
          justify-content: space-between;
      }

     &__content {
          width: 384px;
          display: flex;
          flex-direction: column;
          align-content: space-between;
     }

     &__video {
          width: 696px;
          height: 395px;
          background: #4F4F4F;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
     }

    

     &__list {
          list-style: none;
          padding: 0;
          margin: 0;
          &-item {
               margin-bottom: 30px;
          }
     }

     &__note {
          margin-top: 40px;
          margin-bottom: 40px;
     }

     &__document {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          margin-bottom: 96px;
          &-item {
               width: 384px;
               height: 536px;
               padding: 14px;
               background: #F2F2F2;
               & img {
                    width: 100%;
                    background-color: #E0E0E0;
                    background-size: 100%; 
               }
          }
     }


}

.form_title {
     font-size: 16px;
     line-height: 140%;
     text-align: center;
}

.interview{
     font-family: Arial, Helvetica, sans-serif;
     margin-bottom: 100px;
     &__subtitle  {
          margin-bottom: 40px;
     }

     &__text {
          text-align: center;
          margin-bottom: 28px;
     }

     &__flex {
          display: flex;
          justify-content: space-between;
     }

     &__list {
          list-style: none;
          padding: 0;
          margin: 0;
          &-item {
               font-size: 20px;
               display: flex;
               align-items: center;
               margin-bottom: 16px;
          }

          &-item:before {
               content: " ";
               display: inline-block;
               width: 40px;
               height: 40px;
               background-image: url("../img/interview_icon.svg");
               margin-right: 12px;
          }
     }

     &__note {
          padding: 27px 80px 26px 24px;
     }

     &__question {
          width: 728px;
          height: 414px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
     }
     &__form {
          width: 384px;
          flex-direction: column;

          &-title {
               padding: 0 40px;
               margin-bottom: 40px;
               text-align: center;
          }
     }

     &__form input {
          width: 384px;
          height: 52px;
          margin-bottom: 14px;
     }
     &__form a{
          margin-top: 14px;
     }    
     &__conditions {
          justify-content: center;
     }
     &__conditions p {
          margin-right: 0;
          text-align: center;
     }


}

.office {
     font-family: Arial, Helvetica, sans-serif;
     margin-bottom: 96px;
     &__subtitle {
          margin-bottom: 40px;
     }

     &__flex  {
          display: flex;
          justify-content: space-between;
     }

     &__contact {
          width: 384px;
          padding: 20px 52px;
          text-align: center;
          background-color: #FFCF10;
          border-radius: 12px;
          margin-right: 10px;
          &-item p {
               margin: 0;
               font-size: 16px;
               margin: 5px 0;
          }
          

          &-item h3 {
               font-weight: bold;
               font-size: 16px;
               line-height: 140%;
               margin-top: 30px;
          }

         


          &-item a {
               color: #000;
               text-decoration: none;
               font-size: 16px;
          }
     }

     &__map {
          align-self: flex-end;
     }
}

.margin-0{     
     margin: 0;
}

.footer {
     font-family: Arial, Helvetica, sans-serif;
     background: #F2F2F2;
     padding: 40px 0;
}

@media (max-width: 768px) {

     .header__link {
          width: 40px;
          height: 40px;
     }

     .banner {

          &__scope {
               flex-direction: column;
          }

          &__text {
               width: 400px;
               font-size: 24px;
               position: relative;
               z-index: 2;
          }

          &__girl{
               position: absolute;
               right: 0;
               bottom: 0;
               width: 392px;
               height: 681px;
               z-index: 1;
          }

          &__flex {
               position: relative;
          }

          &__link {
               width: 312px;
               font-size: 16px;
               padding: 20px 30px;
               position: relative;
               z-index: 2;
          }
     }

     .project__img {

     }

     

     .project__flex {
          flex-direction: column;
          align-items: center;
          text-align: center;
     }

     .office__flex {
          flex-direction: column;
     }
     .list--title {
          justify-content: center;
     }
     .step__grid {
          grid-template-columns: 1fr 1fr;
     }

     .step__item {
          max-width: none;
          grid-row-gap: 20px;
     }
}

